package components

import "github.com/tigorlazuardi/redmage/app/models/render"

templ Head(c render.Context, extra ...templ.Component) {
	<head>
		<link rel="stylesheet" href="/style.css"/>
		<link rel="icon" href="/favicon.svg"/>
		<script src="/htmx-1.9.10.min.js"></script>
		if c.Config.HotReload {
			<script src="/hot_reload.js"></script>
		}
		for _, e := range extra {
			@e
		}
	</head>
}
