package components

import "github.com/tigorlazuardi/redmage/views"
import "fmt"

templ AlpineJS(c *views.Context) {
	<script defer src={ fmt.Sprintf("/public/alpinejs-%s.min.js", c.Config.String("web.dependencies.alpinejs.version")) }></script>
}
