package components

import "github.com/tigorlazuardi/redmage/views"

templ Body(c *views.Context) {
	<body class="bg-base-100 min-h-screen w-screen max-w-full" hx-boost="true" hx-ext="response-targets">
		@Navigation(c) {
			<div class="flex">
				@Navbar(c)
				<div id="root-content" class="flex-grow">
					{ children... }
				</div>
			</div>
		}
	</body>
}
