package components

import "github.com/tigorlazuardi/redmage/views"

templ Body(c *views.Context) {
	<body class="bg-base-100 min-h-screen w-screen" hx-ext="response-targets">
		@Navigation(c) {
			<div class="flex">
				@Navbar(c)
				<main class="flex-1">
					{ children... }
				</main>
			</div>
		}
	</body>
}
