package components

templ HorizontalImageWell() {
	<div class="grid">
		<div class="overflow-x-auto flex gap-4 p-6 shadow-inner bg-base-300 rounded-2xl scrollbar-track-base-100 scrollbar-thumb-primary scrollbar-thin hover:scrollbar-thumb-base-300">
			{ children... }
		</div>
	</div>
}
