package components

import "github.com/tigorlazuardi/redmage/views"

templ PageError(c *views.Context, text string) {
	@Doctype() {
		@Head(c, HeadTitle(text))
		@Body(c) {
			<h1>{ text }</h1>
		}
	}
}
