package tmpl

import "github.com/tigorlazuardi/redmage/app/models/render"

templ body(c render.Context) {
	<body class="bg-gradient-to-t from-[#fbc2eb] to-[#a6c1ee] min-h-screen flex">
		@navbar(c)
		<main class="flex-1">
			{ children... }
		</main>
	</body>
}
