package tmpl

import "github.com/tigorlazuardi/redmage/tmpl/components"

templ ConfigPage(c RenderContext, cfg string) {
	@head()
	@body(c) {
		@components.Container() {
			<pre class="font-bold">{ cfg }</pre>
		}
	}
}
