package tmpl

import "github.com/tigorlazuardi/redmage/tmpl/components"
import "github.com/tigorlazuardi/redmage/app/models/render"

templ Home(c render.Context) {
	@head()
	@body(c) {
		@components.Container() {
			<div class="prose">
				<h1>Recently Added</h1>
			</div>
		}
	}
}
