package tmpl

import "github.com/tigorlazuardi/redmage/app/tmpl/components"
import "github.com/tigorlazuardi/redmage/app/models/render"

templ ConfigPage(c render.Context, cfg string) {
	@head()
	@body(c) {
		@components.Prose() {
			<pre class="font-bold">{ cfg }</pre>
			<h1>Download</h1>
			<hr/>
		}
	}
}
